<div class="hero">
  <h1 class="hero__title hero__title--article hero__title--push hero__title--with-border">WDPA Code Tracker</h1>
</div>

<div class="tabs">
  <%= active_link_to("Search for site codes", [root_path, search_path], class: "tabs__tab") %>
  <%= active_link_to("Site codes allocation", allocations_path, class: "tabs__tab") %>
</div>

<% if current_controller?(allocations_path) %>
  <%= render "shared/allocation_box" %>
<% else %>
  <%= render "shared/search_box" %>
<% end %>

